html{
	overflow: scroll;
}
body{
	padding: 0px;
	margin: 0px;
}
.wrapper{
	position: relative;
	top: 80px;
	margin: 0px auto;
	/**width: 95%;**/
	height: 100%;
}
.wrapper .content{
	border:1px solid green;
}
.profile-header{
	margin: 10px;
}
.title-section{
	margin: 15px 0px 0px 15px;
	font-size: 1.4em;

}
.name{
	font-weight: 700;
	color: #222;
}
.profile-header-main{
	border: 1px solid #DDD;
	border-radius: 4px;
	box-shadow: 0px 1px 0px #F2F4F5;
	color: #666;
}
.info{
	margin:15px 0px 15px 15px;
	overflow: hidden;
}
.head-img{
	overflow: hidden;
	border-radius: 10px;
	width: 90px;
	height: 90px;
	float: left;
}
.data{

	margin-left: 114px;
}
.tel{
	font-size: 15px;
  	color: #000;
}
.data span,.tel span{
	font-size: 11px;
}
.card{
	font-size: 15px;
  	color: #000;	
}
.house{
	margin: 15px 0px 0px 15px;
}
.house-title{
	font-weight: bold;
	font-size: 14px;
	margin:3px;

}
.house-own{
	border-bottom: 1px solid #DDD;
	box-shadow: 0px 1px 0px #F2F4F5;
	font-size: 13px;
	text-indent: 1em;
}
.comment-title{
	margin: 20px 0px 10px 15px;
	text-align: center;
	font-weight: bold;
}
.wrapper-comment-content{
	border-radius: 3px;
	border:1px solid #DDD;
	box-shadow: 0px 1px 0px #F2F4F5;
	background: rgba(227, 233, 239, 0.36) none repeat scroll 0% 0%;
	height: 1500px;
}
.comment-i{
	/**height: 100%;**/
	border-top: 1px solid #E1E4E6;
	font-size: 15px;
}
.comment-i a{
	font-size: 12px;
	cursor: pointer;
	color: #1D53BF;
}
.comment-i a:visited {
	color: #1D53BF;
}
.comment-i a::active{
	color: #1D53BF;
}
.comment-left{
	float: left;
  	width: 10%;
  	margin-top: 11px;
  	/**float: left;**/
  	text-align: center;
}
.comment-right{
	float: left;
	border-right: 1px solid rgb(229, 236, 237);
  	width: 85%;
  	/**float: left;**/
  	background: #FFF none repeat scroll 0% 0%;
}
.comment-head-img{
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0px auto;
}
.comment-head-img-name{
	font-size: 10px;
	color: #1D53BF;
}
.comment-head-img-name a:hover{
	text-decoration: underline;
}
.comment-content{
	margin:15px 0px 5px 15px;
	height: 100%;
	/**width: 460px;**/
}
.wrapper-re-content{
	margin: 10px 20px 10px 15px;
  	background: #F7F8FA none repeat scroll 0% 0%;
  	border: 1px solid #F0F1F2;
}
.re-content{
	border-bottom:1px dashed #CFD3D7 ;
	margin: 10px;
	
}
.content-reply{
	text-align: right;
	margin-bottom: 5px;
}
.release-time{
	font-size: 10px;
	color: #999;
}
.release-reply{
	
}

/*ÆÀ¼Ûµ¼º½À¸*/
.comment-nav{
    position: fixed;
    bottom: 0;
    line-height: 40px;
    /**height: 40px;**/
    width: 100%;
    border-top:1px solid rgba(195, 192, 192, 0.45);
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}
.nav-items{
	display: block;
}
.nav-items-d,.nav-items-c,.nav-items-p{
	background-color:rgba(245, 247, 249, 0.33);
	height: 50px;
	border:1px solid rgba(218, 214, 214, 0.63);
	border-radius: 3px;
	margin: 0px 10px 0px 10px;
	padding: 5px 25px 5px 25px;
	cursor: pointer;

}

/*·¢±íÆÀ¼Û */
.comment-publish-warp{
	display: none;
	width: 100%;
    /**margin-right: 0;
    margin-left: 0;
    position: static;
    margin-top: 14%;
    margin-top: 14vh;
    position: fixed;
    z-index: 888;
    max-width: 100%;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, .4);**/
    background: #FFF;
    text-align: left;
    height: 100%;
    margin: auto;
}
.comment-publish{
	border-radius: 3px;
	border: 1px solid #62A3E4;
	outline: none;
	line-height: normal;
	padding: 10px;
	color: #DDD;
}
.comment-publish-nav{
	line-height: normal;
	padding: 5px 20px 5px 20px;
}
.a-comment-publish-theme{
	float: right;
}

/*ÆÕÍ¨»Ø¸´*/
.reply-theme-p{
	text-align: right;
	height: 30px;
    line-height: 30px;
}
.reply-theme-btn{
	border:1px solid #DDD;
	padding: 5px;
	/**background-color: #1D53BF;**/
	border-radius: 3px;
}
.reply-content-warp{
	display: none;
}
.reply-content{
	min-height: 10px;
	background-color: #FFF;
	margin-top: 5px;
	border:1px solid #DDD;
	outline: none;
	min-height: 40px;
}
.reply-content-publish{
	/**text-align: right;**/
	float: right;
	padding: 5px;

}
.a-sub-publish{
    display: block;
    border-radius: 3px;
    line-height: 20px;
    height: 20px;
    width: 30px;
    /* align-content: center; */
    background-color: #1D53BF;
    text-align: center;
    cursor: pointer;
	font-size: 10px;
    color: #FFF;
}